<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atomu.apiserver.mapper.LiveserverMapper">
  <resultMap id="BaseResultMap" type="com.atomu.apiserver.entity.Liveserver">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="upload" jdbcType="VARCHAR" property="upload" />
    <result column="download" jdbcType="VARCHAR" property="download" />
    <result column="hls" jdbcType="INTEGER" property="hls" />
  </resultMap>
  <sql id="Base_Column_List">
    id, upload, download, hls
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from liveserver
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from liveserver
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atomu.apiserver.entity.Liveserver">
    insert into liveserver (id, upload, download, 
      hls)
    values (#{id,jdbcType=INTEGER}, #{upload,jdbcType=VARCHAR}, #{download,jdbcType=VARCHAR}, 
      #{hls,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.atomu.apiserver.entity.Liveserver">
    insert into liveserver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="upload != null">
        upload,
      </if>
      <if test="download != null">
        download,
      </if>
      <if test="hls != null">
        hls,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="upload != null">
        #{upload,jdbcType=VARCHAR},
      </if>
      <if test="download != null">
        #{download,jdbcType=VARCHAR},
      </if>
      <if test="hls != null">
        #{hls,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atomu.apiserver.entity.Liveserver">
    update liveserver
    <set>
      <if test="upload != null">
        upload = #{upload,jdbcType=VARCHAR},
      </if>
      <if test="download != null">
        download = #{download,jdbcType=VARCHAR},
      </if>
      <if test="hls != null">
        hls = #{hls,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atomu.apiserver.entity.Liveserver">
    update liveserver
    set upload = #{upload,jdbcType=VARCHAR},
      download = #{download,jdbcType=VARCHAR},
      hls = #{hls,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="countAll" resultType="java.lang.Integer">
    select count(*) from msgserver
  </select>
</mapper>